<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSingup(Singup)" #Singup="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="email"  type="text" placeholder="Username" ngModel  #email="ngModel" required >
        <mat-error *ngIf="passwordInput.invalid">Please enter a Username.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">submit</button>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </form>
  </mat-card>
  